<phpunit
        colors="true"
        bootstrap="./tests/phpUnitBootstrap.php"
        processIsolation="true"
        >
    <testsuites>
        <testsuite name="Genesis test suite">
            <directory>tests</directory>
            <exclude>tests/01</exclude>
            <exclude>tests/02</exclude>
            <exclude>tests/03</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <directory>./commands</directory>
            <directory>./config</directory>
            <exclude>
                <directory>tests/</directory>
                <directory>example/</directory>
                <directory>vendor/</directory>
                <file>commands/Command.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/report" charset="UTF-8"
             highlight="false" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>