includes:
	- include.neon

class: MyTest\NonExistingClass2
parameters:
	myArray: []
	mergeMe:
		key2: val
	doNotMergeMe!:
		key2: val
	doNotMergeMeRecursive:
		doNotMergeField!:
			anotherKey2:
				anotherVal
	nestedValue: %mergeMe.key2%